<%= simple_form_for(@house_list, html: {class: "form-horizontal"}) do |f| %>
  <% if @house_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@house_list.errors.count, "error") %> prohibited this house_list from being saved:</h2>

      <ul>
      <% @house_list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :user_id %>
  <%= f.input :city %>
  <%= f.input :state %>
  <%= f.input :zipCode %>
  <%= f.input :address %><br />

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
